<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant life</title>
    <script src="https://kit.fontawesome.com/5349577a67.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/partials/header.css">
    <link rel="stylesheet" href="public/css/partials/footer.css">
    <link rel="stylesheet" href="public/css/home.css">
  </head>



    <%-include("partials/header.ejs")%>
    <!-- Hero Section -->
    <div class="container-fluid p-0">
        <div class="hero-container">
            <div class="hero-section">
                <span>Special Offer</span>
                <h1 class="hero-title">Up to 30% Off First Order</h1>
                <p>The sale will take place this week.</p>
                <button class="hero-button">Shop Now</button>
            </div>
        </div>
    </div>

    
    <div class="container main-top-section">
        <div class=" plant">
        
                <div class="col-lg-4 col-sm-4 plant-section-one plant-section box1">
                    <span>Best Seller</span>
                    <h2>House Plants</h2>
                    <button class="plant-section-button">Show now</button>
                </div>
                <div class="col-lg-8 col-sm-8 plant-section-two plant-section box2">
                    <span>Store Plant</span>
                    <h2>Garden Plants</h2>
                    <button class="plant-section-button">Show now</button>
                </div>
        </div>
    </div>
<!-- CATEGORIES SECTION -->
    <div class="container py-5 categories-container categories-remove">
        <h2 class="categories-title">Categories</h2>
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 categories-section">
                <img class="rounded-circle img-fluid" src="/images/Calathea.webp" alt="">
                <h5>Calathea plant</h5>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6  categories-section">
                <img class="rounded-circle img-fluid" src="/images/plant5.jpg" alt="">
                <h5 class="text-center">Office Plants</h5>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6  categories-section">
                <img class="rounded-circle img-fluid" src="images/plant6.jpg" alt="">
                <h5>Artificial Flower</h5>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6  categories-section">
                <img class="rounded-circle img-fluid" src="images/plant7.webp" alt="">
                <h5>Garden Plants</h5>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6  categories-section">
                <img class="rounded-circle img-fluid" src="images/plant8.png" alt="">
                <h5>House Plants</h5>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 categories-section">
                <img class="rounded-circle img-fluid" src="images/plant9.jpg" alt="">
                <h5>New Collection</h5>
            </div>
            
        </div>
      
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        <h2 class="categories-title">Categories</h2>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/Calathea.webp" alt="">
                    <h5>Calathea plant</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/plant5.jpg" alt="">
                    <h5 class="text-center">Office Plants</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/plant7.webp" alt="">
                    <h5>Garden Plants</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/plant8.png" alt="">
                    <h5>House Plants</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/plant6.jpg" alt="">
                    <h5>Artificial Flower</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="categories-section">
                    <img class="rounded-circle img-fluid categories-img" src="images/plant9.jpg" alt="">
                    <h5>New Collection</h5>
                </div>
            </div>
            <!-- Add more carousel items for additional images -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


        <!-- Wrapper for slides -->





    <!-- BEST SELLER SECTION -->
    <div class="container seller-container">
        <div class="seller-section-title">
            <h2 class="seller-title">Best Seller</h2>
            <p class='seller-text'>Best seller Product This Week!</pseller-section>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/plant10.png" alt="">
                <div class="product-info">
                    <p class="product-name">Palm Branch</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/Purple Flower.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Purple Flowers</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/transvaal.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Transvaal Daisy</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/Ficus.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Ficus Retusa</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/flowerpot.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Flowerpot Garden</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/green cacti.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Green Cacti</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img class="img-fluid seller-img" src="images/green leafed.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Green leafed plant</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 box-item">
                <img  class="img-fluid seller-img" src="images/green succulent.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Green Succulent</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
        </div>
    </div>

    <!-- GARDENING SECTION -->
    <div class="container-fluid gardening px-0">
        <div class="section-four-gardening">
            <h2>Gardening to</h2>
            <h2>be happy</h2>
            <p>Lorem ipsum dolor sit amet, const ect etur adipisicing elit</p>
        </div>
      
    </div>

    <!-- New arrivals -->
    <div class="container-fluid new-arrivals">
        <div class="seller-section-title">
            <h2 class="arrivals-title">New Arrivals</h2>
        </div>

        <div class="row arrivals-item">
            <div class="col-lg-4 col-md-6 col-sm-12 box-arrivals product-container" data-product-key="product1">
                <img class="img-fluid arrivals-image" src="images/arrivals-plant5.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Jasmine</p>
                    <span class="product-pricing">$19.00</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-arrivals product-container" data-product-key="product2">
                <img class="img-fluid arrivals-image" src="images/arrivals-plant2.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Houseplant Philippine</p>
                    <span class="product-pricing">$20.00</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-arrivals product-container" data-product-key="product3">
                <img class="img-fluid arrivals-image" src="images/arrivals-plant3.webp" alt="">
                <div class="product-info">
                    <p class="product-name">Laceleaf Peace</p>
                    <span class="product-pricing">$22.00</span>
                </div>
            </div>
        </div>
    </div>


    <!-- Instagram shop -->
    <div class="container insta-shop instagram-section">
        <div class="seller-section-title">
            <h2 class="seller-title">Instagram Shop</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image9.jpg" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image2.webp" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image3.webp" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image4.jpg" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image5.webp" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image6.webp" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image7.png" alt="">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
                <img class="img-fluid main-insta-img" src="images/insta-image8.jpg" alt="">
            </div>
     
        </div>
    </div>
    <!-- INSTAGRAM CAROUSEL SECTION WHEN ACTIVATED ON MOBILE DEVICES -->
    <div id="instagramCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid main-insta-img" src="images/insta-image9.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image2.webp" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image3.webp" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image4.jpg" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image5.webp" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image6.webp" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image7.png" alt="">
          </div>
          <div class="carousel-item">
            <img class="img-fluid main-insta-img" src="images/insta-image8.jpg" alt="">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#instagramCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#instagramCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <%-include("partials/footer.ejs")%>