@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --black: #000000;
    --white: #ffffff;
    --hover: #009933;
    --text: #808080;
    --title-heading: #666666;
    --newsletter: #b1b1b1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}
/*----------------------------------------- NAV SECTION CSS -------------------------------*/

.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100px;
}
.navbar-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.nav-item-list,
a
{
    padding:0 1rem;
    margin: auto 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.nav-item-list a:hover{
    color: var(--hover);
    transition: .3s ease;
}
.nav-item-list{
    font-weight: 500;
    font-size: 15px;
}
.nav-icon{
    font-size: 1.3rem;
}
.nav-icon-mobile{
    display: none;
}

/* NAV RESPONSIVE UI SECTION */

/* HAMBURGER ICON SECTION */

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
}

@media screen and (max-width: 1200px) {
    .hamburger{
        display: block;
        position: fixed;
        transition: .3s ease;
        margin-left: 90%;
        z-index: 1;
    }
    .brand{
        margin-right: auto;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(46deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-46deg);
    }
    .nav-section-two{
        display: block;
    }
    .navbar-item
    {
        display: flex;
        justify-content: space-around;
        position: fixed;
        right: -100%;
        top: 0;
        gap: 0;
        background-color: #fff;
        width: 100%;
        height: 50%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .5s;
        z-index: 1;
        border: 1px solid #000;

    }
    .nav-icon-mobile{
        display: flex;
        margin: 1rem 0;
    }

    .nav-item-list{
        color: #000;
    }

    .navbar-item.active{
        right: 0;
        padding-left: 0;
    }
    .hamburger.active{
        transition: .3s ease;
    }

}


@media screen and (max-width: 476px) {
    .hamburger{
        margin-left: 80%;
    }

}
/*------------------------------------ About us section one ------------------------------------*/
.about-hero-section{
    background-image: url('/images/s1.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-hero-section h1,
.about-hero-section a,
.about-hero-section span
{
    color: var(--white);
}
.about-hero-section a{
    padding-left: 0;
}
.about-hero-section a:hover{
    color: var(--hover);
}
.hero-about-categories{
    padding-left: 13px;
}
.story-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.about-us-section-one{

    margin-bottom: 1rem;
}
.about-us-section-one p,
.about-us-section-two p
{
    font-size: 14px;
    color: var(--text);

}
.about-us-section-one span,
.about-us-section-two span
{
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.about-us-section-one h2,
.about-us-section-two h2
{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
 
/* .about-us-section-two{
    width: 40rem;
    height: 40rem;
    margin: 0 auto;

} */
.about-img{
    width: 100%;
    height: 100%;
}


.about-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
}
.about-img:hover{
    transform: scale(.95);
    transition: .5s ease;
}
.intro::before{
    display: inline-block;
    content: "";
    width: 45px;
    height: 2px;
    background: #4b9e22;
    margin-right: 18px;
    position: relative;
    top: -3px;
}


/* --------------------------------------NEWS SECTION MODAL DESIGN -----------------------------------------------*/
.modal-section{
    margin: 5rem auto;
    
}
.modal-image{
    width: 30rem;
    height: 22rem;
}
.modal-item{
    margin-bottom: 2.5rem;

}
.news-detail{
    margin-top: 10px;
}
.news-detail span{
    text-transform: uppercase;
    color: #4b9e22;;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}
.news-detail h2{
    font-size: 20px;
    margin-top: 10px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 500;
}
.news-detail p{
    color: var(--text);
    font-size: 13px;
}
.news-title::after{
    content: "";
    position: relative;
    left: calc(5% - 18px);
    width: 8rem;
    height: 1.2px;
    background: #e0e0e0;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.modal-btn{
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid black;
    padding: .3rem .6rem;
}
.title-link:hover{
    color: var(--hover);
    transition: .3s ease;
}

.modal-btn:hover{
    color: var(--white);
    transition: .3s ease;
    background-color: #4b9e22;
    border: 1px solid #4b9e22;
}

.modal-text{
    font-size: 14px;
    line-height: 2.3;
    color: var(--text);
    padding: 3rem;
}
.modal-content-img{
    width: 50rem;
    height: 30rem;
    text-align: center;
}
.news-btn{
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
}
.modal-title{
    letter-spacing: 2px;
    margin: 0 auto;
}
.modal-header{
    background-color: #4b9e22;
    color: #fff;
}
.btn-default{
    width: 10rem;
    height: 3rem;
    border: 1px solid #000;
}
.btn-default:hover{
    background-color: var(--hover);
    color: var(--white);
    transition: .3s ease;
}
@media screen and (max-width: 1200px) {
    .modal-image{
        width: 40rem;
        height: 20rem;
    }
    .modal-section{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .modal-content-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 28rem;
        height: 25rem;

    }
    .modal-text{
        font-size: 12px;
        line-height: 2;
        padding: 1rem;
        margin-top: 1rem;
    }
    .modal-title{
        font-size: 17px;
    }
    .btn-default{
        width: 8rem;
        height: 3rem;
        border: 1px solid #000;
    }
}


@media screen and (max-width: 576px) {
    .modal-image{
        width: 25rem;
        height: 22rem;
    }
    .modal-section{
        width: 25rem;
    }
    .modal-title{
        font-size: 15px;
        font-weight: 600;
    }
    .modal-content-img{
        width: 25rem;
        height: 20rem;

    }
}
@media screen and (max-width: 476px) {
    .modal-image{
        width: 20rem;
        height: 20rem;
    }
    .modal-section{
        width: 22rem;
    }
    .modal-body p{
        padding: 10px;
        color:#808080;
        font-size: 13px;

    }
    .modal-body {
        padding: 0;
    }
    .modal-title{
        font-size: 13px;
        font-weight: 600;
    }
    .modal-content-img{
        width: 25rem;
        height: 20rem;

    }
    

}
@media screen and (max-width: 400px) {
    .modal-content-img{
        width: 20rem;
        height: 15rem;
    }
    .btn-default{
        width: 6rem;
    }
    

}

