@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --black: #000000;
    --white: #ffffff;
    --hover: #009933;
    --text: #808080;
    --title-heading: #666666;
    --newsletter: #b1b1b1;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}
/*----------------------------------------- NAV SECTION CSS -------------------------------*/

.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100px;
}
.navbar-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.nav-item-list,
a
{
    padding:0 1rem;
    margin: auto 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.nav-item-list a:hover{
    color: var(--hover);
    transition: .3s ease;
}
.nav-item-list{
    font-weight: 500;
    font-size: 15px;
}
.nav-icon{
    font-size: 1.3rem;
}
.nav-icon-mobile{
    display: none;
}

/* NAV RESPONSIVE UI SECTION */

/* HAMBURGER ICON SECTION */

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
}
@media screen and (max-width: 1200px) {
    .hamburger{
        display: block;
        position: fixed;
        transition: .3s ease;
        margin-left: 90%;
        z-index: 1;
    }
    .brand{
        margin-right: auto;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(46deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-46deg);
    }
    .nav-section-two{
        display: block;
    }
    .navbar-item
    {
        display: flex;
        justify-content: space-around;
        position: fixed;
        right: -100%;
        top: 0;
        gap: 0;
        background-color: #fff;
        width: 100%;
        height: 30rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: .5s;
        z-index: 1;
        border: 1px solid #000;

    }
    .nav-icon-mobile{
        display: flex;
        margin: 1rem 0;
    }

    .nav-item-list{
        color: #000;
    }

    .navbar-item.active{
        right: 0;
        padding-left: 0;
    }
    .navbar-item > .scroll{
        top: 0;
    }
    .hamburger.active{
        transition: .3s ease;
    }

}


@media screen and (max-width: 476px) {
    .hamburger{
        margin-left: 80%;
    }

    .nav-logo{
        width: 10rem;
        height: 5rem;
    }

}

/*--------------------------------- HERO SECTION DESIGN -------------------------------------*/

.hero-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
}
.hero-container::before{
    content: '';
    background-image: url('/images/plantshop.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.hero-title{
    position: relative;
    color: #ffffff;  
    font-size: 5.5rem;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 3px;
    width: 70%;
    margin: 0 auto;
    margin-top: .5rem;
}
.hero-section span,
.hero-section p
{
    position: relative;
    color: #ffffff;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.hero-section span{
    font-size: 1.2rem;
    font-weight: 500;
}
.hero-section p{
    font-size: 15px;
    text-transform: capitalize;
    margin-top: .9rem;
    font-weight: 600;
}
.hero-section{
    text-align: center;
}

.hero-button{
    margin-top: 2.5rem;
    padding: .6rem 2rem;
    border: none;
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}
.hero-button:hover{
    color: #000000;
    background-color: #ffffff;
    transition: .3s ease-in;
}
@media screen and (max-width: 600px) {
    .hero-title{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .hero-section p{
        font-size: 14px;
    }
    .hero-section span{
        font-size: 15px;
        letter-spacing: 5px;
    }
    .hero-container{
        height: 60vh;
    }

}



@media screen and (max-width: 390px) {
    .hero-title{
        font-size: 2rem;
        font-weight: 700;
    }
    .hero-section p{
        font-size: 14px;
    }
    .hero-section span{
        font-size: 15px;
        letter-spacing: 5px;
    }
    .hero-container{
        height: 60vh;
    }

}

/*----------------------------------- BEST SELLER SECTION ----------------------------------------*/



.seller-section-title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.seller-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 6rem;
    margin-bottom: 10px;

}
.seller-title::after{
    content: "";
    width: 5rem;
    height: 2px;
    left: 50%;
    background: #4b9e22;
    position: relative;
    display: block;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 1rem;
}
.seller-text{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}
.box-item{
    margin: 0 auto;
}
/* .img-fluid{
    height: 300px;
    width: 300px;
} */
.product-info{
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-name{
    font-weight: 500;
}
.product-pricing{
    color: green;
    font-weight: 600;
}

.seller-img{
    width: 30rem;
    height: 18rem;
}

@media screen and (max-width: 1200px) {
    .seller-img{
        width: 30rem;
        height: 18rem;
    }
}
@media screen and (max-width: 760px) {
    .seller-img{
        width: 20rem;
        height: 15rem;
    }
}
@media screen and (max-width: 576px) {
    .box-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 420px) {
    .seller-img{
        width: 18rem;
        height: 16rem;
    }
}


@media screen and (max-width: 376px) {
    .seller-img{
        width: 15rem;
        height: 14rem;
    }
}



/*---------------------------- PLANT SECTION DESIGN---------------------------------*/
.plant-section-one{
    width: 30rem;
    background-image: url('/images/plant3.jpg');
    background-position: center;
    background-size: cover;
}
.plant-section-one,
.plant-section-two{
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 2rem;
    background-repeat: no-repeat;
}
.plant-section-two{
    width: 50rem;
    background-image: url('/images/plant2.jpg');
    background-position: center;
    background-size: cover;
}
.main-top-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plant{
    position: relative;
    display: flex;
    align-items: center;
    bottom: 5rem;
    margin: 0 auto;
}
.plant-section span{
    text-transform: uppercase;
    color: #808080;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}
.plant-section h2{
    letter-spacing: 1px;
}
.plant-section-button{
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 2px solid #000;
}
.plant-section-button:hover{
    color: var(--hover);
    border-bottom: 2px solid green;
    transition: .2s ease-in;
}
.plant-section-button::before{
    width: 30%;
}

@media screen and (max-width: 1300px) {
    .plant-section-one{
        width: 28rem;

    }
    .plant-section-two{
        width: 40rem;

    }
}
@media screen and (max-width: 1100px) {
    .plant-section-one{
        width: 25rem;

    }
    .plant-section-two{
        width: 35rem;

    }
}

@media screen and (max-width: 980px) {
    .plant-section-one{
        width: 20rem;
        height: 15rem;

    }
    .plant-section-two{
        width: 30rem;
        height: 15rem;

    }
}
@media screen and (max-width: 820px) {
    .plant{
        flex-direction: column;
    }
    .plant-section-one{
        width: 40rem;
        height: 35rem;

    }
    .plant-section-two{
        width: 40rem;
        height: 35rem;

    }
}
@media screen and (max-width: 650px) {

    .plant-section-one{
        width: 30rem;
        height: 25rem;

    }
    .plant-section-two{
        width: 30rem;
        height: 25rem;

    }
}
@media screen and (max-width: 576px) {

    .plant-section-one{
        width: 30rem;
        height: 25rem;

    }
    .plant-section-two{
        width: 30rem;
        height: 25rem;

    }
}
@media screen and (max-width: 480px) {

    .plant-section-one{
        width: 25rem;
        height: 20rem;

    }
    .plant-section-two{
        width: 25rem;
        height: 20rem;

    }
    .plant{
        bottom: 3rem;
    }
}

/*--------------------------------- GARDENING SECTION -----------------------------*/
.section-four-gardening{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin: 8rem 0 0 0;
    height: 60vh;
    width: 100%;
    background-image: url("/images/insta-image10.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.section-four-gardening::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
    background-color: #000000;
}
.section-four-gardening{
    color: #ffffff;
    text-align: center;
}
.section-four-gardening h2{
    font-size: 4rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
}
.section-four-gardening p{
    margin-top: 1.5rem;
    font-size: 18px;
    color: #ffffff;
}
@media screen and (max-width: 400px){
    .section-four-gardening h2{
        font-size: 3rem;
    }
}

/*-------------------------------- CATEGORIES SECTION --------------------------------*/
.categories-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 4rem;

}
.categories-title::after{
    content: "";
    width: 5rem;
    height: 2px;
    left: 50%;
    background: #4b9e22;
    position: relative;
    display: block;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 1rem;
}
.categories-section{
    text-align: center;
    margin-bottom: 1.5rem;
}
.rounded-circle{
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.categories-section h5{
    margin-top: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.categories-section h5:hover{
    color: green;
    transition: .2s ease-in;

}
#carouselExampleIndicators{
    display: none;
}
@media screen and (max-width: 576px) {
    .categories-remove{
        display: none;
    }
    #carouselExampleIndicators{
        display: block;
        width: 100%;
    }
    .categories-img{
        width: 20rem;
        height: 20rem;
    }
    .carousel-control-next-icon{
        background-image: url('images/next.png');
    }
    .carousel-control-prev-icon{
        background-image: url('images/prev.png');
    }
}
@media screen and (max-width: 576px) {

    .categories-img{
        width: 15rem;
        height: 15rem;
    }

}


/*-------------------------- NEW ARRIVALS DESIGN --------------------------------*/
.new-arrivals{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.box-arrivals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.arrivals-image{
    width: 30rem;
    height: 30rem;
}
.arrivals-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 5.5rem;
    margin-bottom: 10px;
}
.arrivals-title::after{
    content: "";
    width: 5rem;
    height: 2px;
    left: 50%;
    background: #4b9e22;
    position: relative;
    display: block;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 1rem;
}
@media screen  and (max-width: 820px){
    .arrivals-image{
        width: 25rem;
        height: 25rem;
    }
}

@media screen  and (max-width: 720px){
    .box-arrivals{

        margin-bottom: 1rem;
    }
}
@media screen  and (max-width: 490px){
    .arrivals-image{
        width: 20rem;
        height: 20rem;
    }
}

/*------------------------------------ INSTAGRAM --------------------------*/

/* .insta-img{
    width: 30rem;
    height: 20rem;
} */
.insta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#instagramCarousel{
    display: none;
}

.main-insta-img{
    width: 20rem;
    height: 18rem;
}

@media screen and (max-width: 780px) {
    .instagram-section{
        display: none;
    }
    #instagramCarousel{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .insta-img{
        width: 25rem;
        height: 20rem;
        text-align: center;
    }
    .main-insta-img{
        width: 25rem;
        height: 20rem;
    }
    .carousel-control-next-icon{
        background-image: url('/images/next.png');
    }
    .carousel-control-prev-icon{
        background-image: url('/images/prev.png');
    }

}
@media screen and (max-width: 420px) {
    .insta-img{
        width: 20rem;
    }
    .main-insta-img{
        width: 18rem;
        height: 15rem;
    }

}

/*----------------------------------------- FOOTER SECTION DESIGN -------------------------------------------*/
/* FOOTER SECTION DESIGN */
.footer-section{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #f8f8f8;
    padding: 3rem;

}
.logo-img{
    width: 10rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
}
/* .footer-info{
    width: 80%;
    margin: 0 auto;
} */

.footer-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem;
}
.footer-list{
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 2.5rem;
}
.footer-detail h5{
    font-size: 17px;
    margin-bottom: 0;
}
.footer-detail p {
    font-size: 13px;
}
.footer-list li{
    padding: 8px 0;
    font-size: 12px;
}
.footer-list li a{
    text-decoration: none;
    color: #000000;
    padding-left: 0;
}
.footer-list li a:hover{
    color: #009933;
    transition: .3s ease;
}
.footer-list-icon{
    display: flex;
    padding-left: 0;
    list-style: none;
}
.fa-brands{
    padding: 0 10px;
}
.fa-brands:hover{
    color: #009933;
    transition: .3s ease;
}
.fa-twitter{
    padding-left: 0;

}
.footer-list-icon li a{
    padding: 0;
}

/* FOOTER RESPONSIVE SECTION */

@media screen and (max-width: 1100px) {
    .footer-detail{
        padding: 1rem;
    }
    .footer-info{
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }
}
@media screen and (max-width: 765px) {
    .footer-detail{
        padding: 1rem;
    }
    .footer-info{

        display: flex;
        flex-direction: column;

        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-info p{
        text-align: center;
    }
    .footer-list{
        text-align: center;
    }
    .footer-detail h5{
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .logo-img{
        width: 10rem;
        height: 5rem;
        text-align: center;
    }
}
@media screen and (max-width: 390px) {
    .logo-img{
        width: 10rem;
        height: 5rem;
        text-align: center;
    }
}